* {
    border-radius: 0 !important;
}

a[data-toggle='dropdown']{
    cursor: pointer;
}

.form-horizontal .control-group {
    margin-bottom: 5px;
    height: 30px !important;
}

.form-horizontal .control-group:first-child {
    margin-top: 20px;
}

.form-horizontal .control-group.button-group {
    margin-top: 20px;
    margin-bottom: 20px;
}