@back-color: rgb(59, 89, 152);
@border: 1px solid lighten(@back-color,20%);

& > div {
  background-color: @back-color;
  div {
    height: 40px;
    line-height: 40px;
    color: #fafafa;
  }
  div:first-child, div.logout {
    overflow: hidden;
    position: absolute;
    width: 40px;
    top: 0;
    margin: 0;
    img {
      width: 100%; height: 100%;
    }
  }
  div.signup {
    position: relative;
    z-index: 100;
    margin: 0 40px;
    border-left: @border;
    text-align: center;
    &:last-child {
      margin-right: 0;
    }
  }
  div.logout {
    border-left: @border;
    right:0;
    text-align: center;
    color: gray;
    &:hover {
      opacity: 1;
      cursor: pointer;
      color: white;
    }
  }
}
