.type_wrap{
  display: inline-block;
  color: green;
  font-size: 8pt;
  min-width: 50px;
}
.name_wrap{
  display: inline-block;
  width: 100px;
  // text-align: right;
  // padding-right: 5px;
}
div.value_wrap{
  display: inline-block;
  min-width: 200px;
}
div.null_wrap{
  display: inline-block;
  margin-left:20px;
}
.head{
  color: #333;
  font-size: 12pt;
}
div.thead{
  margin-bottom: 20px;
}
.controls_wrapper{
  margin-top: 20px;
}
// ._inline{
  // display: inline;
// }
// label{
  // display: inline-block;
  // min-width: 50px;
// }
// input{
  // margin-left:10px;
  // margin-bottom:10px;
  // width: auto;
// }
// textarea{
  // margin-left:10px;
  // width: 90%;
// }
// a{
  // margin:10px;
// }
// .obj_container, .obj_attr_elem{
  // margin: 0 0 0 30px;
// }
