._inline{
  display: inline;
}
label{
  display: inline-block;
  min-width: 50px;
}
input{
  margin-left:10px;
  margin-bottom:10px;
  width: auto;
}
textarea{
  margin-left:10px;
  width: 90%;
}
a{
  margin:10px;
}
.obj_container, .obj_attr_elem{
  margin: 0 0 0 30px;
}
