.notvalid{
  background-color: rgba(224, 141, 154, 0.16);
}
.green{
  color: green;
  background-color: rgba(160, 231, 138, 0.16);
}
.message-wrapper{
  border: 1px solid #EBEBEB;
}
.attribute_wrap{
  border-bottom: 1px solid #EBEBEB;
  margin: 5px 0 5px 0;
}

.type_wrap{
  display: inline-block;
  float:left;
  color: green;
  font-size: 8pt;
  min-width: 50px;
}
.name_wrap{
  display: inline-block;
  width: 100px;
  float:left;
  // text-align: right;
  // padding-right: 5px;
}
div.attr_sets{
  display: inline-block;
   // float:right;
  margin-left:20px;
}
div.value_wrap{
  display: inline-block;
  min-width: 200px;
  min-height: 20px;
}
.value_item_wrap{
  // display: inline-block;
  // background: #777;
}
.item_content_wrap{
  // background: #777;
}
div.set_null_wrap{
}
div.set_default_wrap{
}
div.set_original_wrap{
}
.expand_value{
  display: inline-block;
  margin-left:20px;
}
.controls_wrapper{
  margin-top: 20px;
}
